html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.character-select-page {
  background-image: url("../assets/images/arena-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.character-select-container {
  padding: 2rem;
  text-align: center;
  height: 100%;
}
.character-select-container h1 {
  font-family: "Uncial Antiqua", system-ui;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #e6e8ff;
  padding-bottom: 1rem;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 85%;
  background-color: rgba(30, 26, 22, 0.7);
  border: 1px solid #ccc;
  border-radius: 12px;
}
.character-grid .character-roster {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
}
.character-grid .character-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 2px solid #444;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
}
.character-grid .character-container figcaption {
  display: none;
}
.character-grid .character-container .character-image {
  width: 100%;
  height: 100%;
}
.character-grid .character-container .char1 {
  transform: scale(4) translate(0%, 30%);
}
.character-grid .character-container .char2 {
  transform: scale(2.8) translate(0%, 20%);
}
.character-grid .character-container .char3 {
  transform: scale(3.5) translate(0%, 15%);
}
.character-grid .character-container .char4 {
  transform: scale(2.9) translate(-4%, 25%);
}
.character-grid .character-container .char5 {
  transform: scale(3.2) translate(2%, 30%);
}
.character-grid .character-container .char6 {
  transform: scale(5) translate(1%, 32%);
}
.character-grid .character-container .char7 {
  transform: scale(3.4) translate(0%, 25%);
}
.character-grid .character-container .char8 {
  transform: scale(3.5) translate(0%, 30%);
}
.character-grid .character-container .char9 {
  transform: scale(2.4) translate(2%, 23%);
}
.character-grid .selected-character-image img {
  width: 200px;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header-container .logo {
  width: clamp(150px, 20vw, 300px);
  height: auto;
}
.header-container .start-btn {
  padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 4vw, 4rem);
  font-size: clamp(1.2rem, 2vw, 2rem);
  background-color: #ff5733;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header-container .start-btn:active {
  background-color: #e74c3c;
}

/*# sourceMappingURL=main.css.map */
