@use 'variables';
@use 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: .5rem;
}

.arena-page {
  min-height: 100vh;
  background-image: url('../assets/images/arena-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player-health {
  width: 20rem;
  height: 3rem;
}


@include mixins.rotate-overlay