html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: url('../assets/images/arena-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}