@use 'variables';
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.character-select-page {
  background-image: url('../assets/images/arena-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.character-select-container {
  padding: 2rem;
  text-align: center;
  height: 100%;
  h1 {
  font-family: "Uncial Antiqua", system-ui;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #e6e8ff;
  padding-bottom: 1rem;
  }
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 85%;
  background-color: rgba(30, 26, 22, .7);
  border: 1px solid #ccc;
  border-radius: 12px;

  .character-roster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0 auto;
  }

  .character-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid #444;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    figcaption {
      display: none;
    }
    .character-image {
      width: 100%;
      height: 100%;
    }

    .char1 {
      transform: scale(4) translate(0%, 30%);
    }
    .char2 {
      transform: scale(2.8) translate(0%, 20%);
    }
    .char3 {
      transform: scale(3.5) translate(0%, 15%);
    }
    .char4 {
      transform: scale(2.9) translate(-4%, 25%);
    }
    .char5 {
      transform: scale(3.2) translate(2%, 30%);
    }
    .char6 {
      transform: scale(5) translate(1%, 32%);
    }
    .char7 {
      transform: scale(3.4) translate(0%, 25%);
    }
    .char8 {
      transform: scale(3.5) translate(0%, 30%);
    }
    .char9 {
      transform: scale(2.4) translate(2%, 23%);
    }
  }

  .selected-character-image {
    img {
      width: 200px;
      height: auto;
    }
  }

  .description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(20, 20, 24, 0.5);
    border: 3px solid #FFD700;
    box-shadow:
    0 0 4px #FFD700,
    0 0 10px #FFCC33,
    0 0 20px rgba(255, 170, 0, 0.8);
    border-radius: 8px;
    padding: 1rem ;
    color: #e6e8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    height: 200px;
    width: 170px;

    h2 {
      margin: 0;
      padding-bottom: 0.5rem;
      font-size: 3rem;
    }
    p {
      margin: 0;
      line-height: 1.4;
      font-size: 1.5rem;
    }
    label {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
    meter {
      width: 100%;
      height: 15px;
      margin-top: 0.5rem;
      border: none
    }
    #health-meter::-webkit-meter-optimum-value {
      background: green;
    }
    #attack-meter::-webkit-meter-optimum-value {
      background: red;
    }
    #defense-meter::-webkit-meter-optimum-value {
      background: blue;
    }
  }
}
