$bg-color: #000000;
$font-color: #ffffff;
$primary-color: #EFBF04;
$secondary-color: #ff6347;
$button-font-color: #000000;
$font-primary: 'Uncial Antiqua', cursive;
$font-secondary: 'Cormorant Garamond', sans-serif;


$breakpoint-tablet: 600px;
$breakpoint-laptop: 900px;
$breakpoint-desktop: 1200px;