$bg-color: #000000;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$button-font: 'Montserrat', sans-serif;
$font-color: #ffffff;
$primary-color: #1e90ff;
$secondary-color: #ff6347;
$font-primary: 'Uncial Antiqua', cursive;
$font-secondary: 'Montserrat', sans-serif;