@use 'variables';
@use 'character-select';
@use 'arena';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;
  background-color: variables.$bg-color;
  color: variables.$font-color;
  font-size: .5rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .logo {
    width: clamp(150px, 20vw, 300px);
    height: auto;
  }
  .start-btn {
    padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 4vw, 4rem);
    font-size: clamp(1.2rem, 2vw, 2rem);
    background-color: variables.$primary-color;
    font-family: variables.$font-primary;
    font-weight: 600;
    text-decoration: none;
    color: variables.$button-font-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:active {
      background-color: #e74c3c;
    }
  }
}